<div ng-controller="MainCtrl" class="row marketing">
  <h1>User</h1>
  <div >
    <label>
      <p>
        User name:
        <input type="text" name="UserName" ng-model="userName">
      </p>
      <p>
        Project name:
        <input type="text" name="ProjectName" ng-model="userProjectName">
      </p>
    </label>
    <p>
      <label>
        <button ng-click="userAll()"> All </button>
        <button ng-click="userGet()"> Found </button>
        <button ng-click="userAdd()"> Add </button>
        <button ng-click="userAddProject()"> Add Project </button>
        <button ng-click="userRemoveProject()"> Remove Project </button>
      </label>
    </p>
    <pre>{{userResp}}</pre>
  </div>
  <h2>Project</h2>
  <div >
    <label>
      <p>
        Project name:
        <input type="text" name="ProjectName" ng-model="projectName">
      </p>
    </label>

    <p>
      <label>
        <button ng-click="projectAll()"> All </button>
        <button ng-click="projectGet()"> Found </button>
        <button ng-click="projectAdd()"> Add </button>
        <button ng-click="projectRemove()"> Remove </button>
      </label>
    </p>
    <pre>{{projectResp}}</pre>
  </div>

  <h3>Backlog</h3>
  <div >
    <label>
      <p>
        Backlog name:
        <input type="text" name="BacklogName" ng-model="backlogName">
      </p>
    </label>
    <p>
      <label>
        <button ng-click="backlogAll()"> All </button>
        <button ng-click="backlogGet()"> Found </button>
      </label>
    </p>
    <pre>{{backlogResp}}</pre>
  </div>
</div>
